@import 'settings';

body {
  font-family: $font-family-roboto;
  min-width: $breakpoint-min;
  font-size: $font-size-md;
}

.container {
    max-width: $breakpoint-max;
    margin: 0 auto;
    padding: 20px;
    @media screen and (max-width: $breakpoint-mobile-sm)  {
        padding: 10px;
    }
}

h1 {
    font-size: $font-size-lg;
    font-weight: 700;
    margin: 0;
    text-align: right;
}
h2 {
    font-size: $font-size-lg;
    font-weight: 700;
    margin: 0;
    line-height: 1;
}
h3 {
    font-size: $font-size-md;
    font-weight: 700;
    margin: 0;
}
.fa-sm {
    font-size: $font-size-sm;
}
.fa-md {
    font-size: $font-size-md;
}
.fa-lg {
    font-size: $font-size-lg;
    margin-top: -1px;
    margin-right: 10px;
    color: $color-red-tabasco;
}
.m-0 {
    margin: 0!important;
}
.mt-10 {
    margin-top: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.section-heading {
    display: flex;
    margin: 20px 0;
}
header {
    background-color: $color-gray-gallery;
    width: 100%;
    box-shadow: 0 0.2rem 1.5rem 0 rgba(0, 0, 0, 0.3);

    .container {
        display: flex;
        justify-content: space-between;
        .logo img {
            width: 100px;
            height: auto;
        }
        .logo, h1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
.disclaimer {
    font-size: $font-size-sm;
    text-align: center;
}
.waiting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #E11B22;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
