// COLORS
$color-white: #ffffff;
$color-offwhite: #f1f1f1;
$color-gray-gallery: #f0f0f0;
$color-gray-cod: #0a0a09;
$color-gray-mercury: #e8e8e8;
$color-gray-alto: #d8d8d8;
$color-gray-silver: #cccccc;
$color-gray-santas: #9f9fa3;
$color-gray-nevada: #6d6e70;
$color-gray-boulder: #777;
$color-gray-mid: #606163;
$color-black-mine-shaft: #333333;
$color-black-tundora: #4a4a4a;
$color-red-alizarin-crimson: #E11B22;
$color-blue-eastern: #007caf;
$color-blue-button-hover: #1c79a8;
$color-green-chalet: #537b35;
$color-green-woodland: #42612a;
$color-red-tabasco: #b2141a;
$color-purple: #660099;
$color-black: #000000;
$color-box-shadow: rgba(0, 0, 0, .16);

$font-family-just-another-hand: "Just Another Hand", sans-serif;
$font-family-roboto: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-family-georgia: "Georgia", serif;
$font-family-open-sans: "Open Sans", sans-serif;

$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 22px;
$font-size-xl: 28px;
$font-size-xxl: 36px;

$breakpoint-min: 320px;
$breakpoint-mobile-sm: 560px;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 992px;
$breakpoint-desktop: 1200px;
$breakpoint-max: 1380px;